.navigation {
    background-color: #24292F;
    height: 60px;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.badge {
    display: flex;
    align-items: center;
}

.badge i {
    margin-right: 5px;
}